.blog-list {
	@include gs-span(wd, 4, 9);

	@include respond-to(tablet) { 
      @include gs-span(wt, 2, 11);
     } 

     @include respond-to(mobile) { 
      @include gs-span(wm, all);
     } 
	
}

.blog-list .category-blog {
	margin-top: 2*($base-spacing-unit);
	padding-bottom: 3*($base-spacing-unit);

}

.navigation {
	padding-bottom: 2*($base-spacing-unit);
}

.next-posts {
	padding-top: $base-spacing-unit;
}