
/**
 * Not using this but I like the shadow box 
 
@import "photoshop-drop-shadow";

.contact-us {
	@include gs-span(wd, 4, 9);
	text-align: center;	
	background: white;
	color: #688390;
	padding: 8px;
	@include photoshop-inner-shadow(46, 3px, 0, 4px, rgba(#000, 0.58));
    line-height: $lowest-line-height;  
}

*/

footer[role="contentinfo"] {
	background: tint( $watf-blue-grey, 90% );
	clear:both;
	padding-bottom: 16*$base-spacing-unit;
}	

.footer-wrapper {
	padding-top: 8*$base-spacing-unit;
}

.footer-contact {
	@include gs-span(wd, 2, 4);
	@extend .double-margin-above;
	@extend .sans;
	@extend .darkest-grey;
	font-size: $milli-size;
	text-align: center;

	@include respond-to(tablet) { 
      @include gs-span(wt, 2, 11);
      clear:both;
      padding-bottom: 2*$base-spacing-unit;
     } 

     @include respond-to(mobile) { 
      @include gs-span(wm, all);
      clear:both;
      padding-bottom: 2*$base-spacing-unit;
     } 

}

.footer-facts {
	@include gs-span(wd, 9, 12);
	@extend .double-margin-above;
	@extend .serif;
	@extend .darkest-grey;
	font-size: $h6-size;
	text-align: center;

	@include respond-to(tablet) { 
	  @include gs-span(wt, 2, 11);
      clear:both;
     } 

     @include respond-to(mobile) { 
      @include gs-span(wm, all);
      clear:both;
     } 

}

.fun-facts-text {
	float: left;
	width: 70%;
}


.fun-facts-image {
	float: right;
	width: 30%;
	 margin-top: -60px;
}



.footer-logo {
	@include gs-span(wd, 6, 7);
	@extend .margin-above;
	@extend .margin-below;

	@include respond-to(tablet) { 
	  @include gs-span(wt, 2, 11);
	  text-align: center;
      clear:both;
     } 

     @include respond-to(mobile) { 
      @include gs-span(wm, all);
      text-align: center;
      clear:both;
     } 
}


.copyright {
	@extend .darkest-grey;
	@extend .centre;
	@extend .padding-below;
	@extend .double-padding-above;
	font-size: $milli-size;
	clear:both;
}