
/**
 * Not using this but I like the shadow box 
 
@import "photoshop-drop-shadow";

.contact-us {
	@include gs-span(wd, 4, 9);
	text-align: center;	
	background: white;
	color: #688390;
	padding: 8px;
	@include photoshop-inner-shadow(46, 3px, 0, 4px, rgba(#000, 0.58));
    line-height: $lowest-line-height;  
}

*/

footer[role="contentinfo"] {
	background: tint( $watf-blue-grey, 90% );
	clear:both;
}	


.footer-contact {
	@include gs-span(wd, 2, 4);
	@extend .double-margin-above;
	@extend .sans;
	@extend .darkest-grey;
	font-size: $milli-size;
	text-align: center;

}

.footer-logo {
	@include gs-span(wd, 6, 7);
	@extend .margin-above;
	@extend .margin-below;
}



.copyright {
	clear:both;
}