

#work, #about, #blog {
	padding-top: 4*$base-spacing-unit;
	@extend .double-padding-below;
}

#about, #blog {
	@extend .line; 
}


.featured-work-image {
	@include gs-span(wd, 1, 9);
	@extend .double-padding-below;

	@include respond-to(tablet) { 
      @include gs-span(wt, all);
      clear:both;
      padding-bottom: 0 !important;
     } 

     @include respond-to(mobile) { 
      @include gs-span(wm, all);
      clear:both;
      padding-bottom: 0 !important;
     } 
}

.featured-work-text {

	padding-top: $base-spacing-unit;

	@include gs-span(wd, 10, 12);
	@include gs-pad(wd, padinfull);
	text-align: center;

	@include respond-to(tablet) { 
      @include gs-span(wt, all);
      clear:both;
      padding-bottom: 3*$base-spacing-unit;
     } 

     @include respond-to(mobile) { 
      @include gs-span(wm, all);
      clear:both;
      padding-bottom: 2*$base-spacing-unit;
     } 
}

.work-title {
	@extend .epsilon;
	line-height: $tiny-line-height;
	margin-bottom: $quarter-spacing-unit;
}

.work-summary {
	@extend .sans;
	@extend .zeta;
	color: $watf-blue-grey;
	line-height: $tiny-line-height;
}

.more-work {
	clear:both;
}

.more-button {
	clear:both;
	text-align: center;
	text-transform: uppercase;
	@extend .delta;
	font-weight: 300;
}


.work-thumb {
	text-align: center;
	padding-left: 17%;
	padding-right: 17%;
	padding-bottom: $half-spacing-unit;
}


.work-post {
		padding-top: $base-spacing-unit;
		padding-bottom: $half-spacing-unit;
		border-top: 1px solid $watf-grey;
}


.first-blog-post {
	@include gs-span(wd, 1, 5);
	text-align: center;
	@extend .padding-below;

	@include respond-to(tablet) { 
      @include gs-span(wt, 2, 11);
      padding-bottom: 2*$base-spacing-unit;
     } 

     @include respond-to(mobile) { 
      @include gs-span(wm, all);
      padding-bottom: 2*$base-spacing-unit;
     } 

}

.second-blog-post {
	@include gs-span(wd, 8, 12);
	text-align: center;
	@extend .padding-below;

	@include respond-to(tablet) { 
      @include gs-span(wt, 2, 11);
      clear:both;
     } 

     @include respond-to(mobile) { 
      @include gs-span(wm, all);
      clear:both;
     } 

}

.blog-middle {
	@include gs-span(wd, 6, 7);
	text-align: center;
	@extend .padding-below;
	border-right: 1px solid $watf-grey;
	border-left: 1px solid $watf-grey;

	@include respond-to(tablet) { 
      @include gs-span(wt, 3, 10);
      clear:both;
     } 

     @include respond-to(mobile) { 
      @include gs-span(wm, all);
      clear:both;
     } 

}


.blog-date {
	font-style: italic;
	font-size: $milli-size;
	font-weight: 300;
	line-height: $tiny-line-height;
	color: $watf-blue-grey;
	text-transform: none;
	margin-bottom: $base-spacing-unit;
}

.blog-title {
	@extend .epsilon;
	line-height: $tiny-line-height;
	margin-bottom: $half-spacing-unit;
}

.blog-summary {
	@extend .sans;
	@extend .zeta;
	color: $watf-blue-grey;
	line-height: $tiny-line-height;
}

.attachment-blog-thumb {
	@extend .padding-below;
}

