

#work, #about, #blog {
	@extend .double-padding-above; 
	@extend .double-padding-below;
}

#about, #blog {
	@extend .line; 
}


.featured-work-image {
	@include gs-span(wd, 1, 9);
	@extend .double-padding-below;
}

.featured-work-text {
	@include gs-span(wd, 10, 12);
	@include gs-pad(wd, padinfull);
	text-align: center;
}

.work-title {
	@extend .epsilon;
	line-height: $tiny-line-height;
	margin-bottom: $quarter-spacing-unit;
}

.work-summary {
	@extend .sans;
	@extend .zeta;
	color: $watf-blue-grey;
	line-height: $tiny-line-height;
}

.more-work {
	clear:both;
}

.more-button {
	clear:both;
	text-align: center;
	text-transform: uppercase;
	@extend .delta;
	font-weight: 300;
}

.first-work-post, .second-work-post, .third-work-post, .fourth-work-post {
	text-align: center;
	@extend .padding-below;
}

.first-work-post {
	@include gs-span(wd, 1, 3);
}

.second-work-post {
	@include gs-span(wd, 4, 6);
}

.third-work-post {
	@include gs-span(wd, 7, 9);

}

.fourth-work-post {
	@include gs-span(wd, 10, 12);
}

.work-thumb {
	text-align: center;
	padding-left: 17%;
	padding-right: 17%;
	padding-bottom: $half-spacing-unit;
}


.work-post {
		padding-top: $base-spacing-unit;
		padding-bottom: $half-spacing-unit;
		border-top: 1px solid $watf-grey;
}


.first-blog-post {
	@include gs-span(wd, 1, 5);
	text-align: center;
	@extend .padding-below;
}

.second-blog-post {
	@include gs-span(wd, 8, 12);
	text-align: center;
	@extend .padding-below;
}

.blog-date {
	font-style: italic;
	font-size: $milli-size;
	font-weight: 300;
	line-height: $tiny-line-height;
	color: $watf-blue-grey;
	text-transform: none;
	margin-bottom: $base-spacing-unit;
}

.blog-title {
	@extend .epsilon;
	line-height: $tiny-line-height;
	margin-bottom: $half-spacing-unit;
}

.blog-summary {
	@extend .sans;
	@extend .zeta;
	color: $watf-blue-grey;
	line-height: $tiny-line-height;
}

.attachment-blog-thumb {
	@extend .padding-below;
}

