
/**
 * Line heights
 */

.narrowest {
	line-height: $lowest-line-height;
} 

.narrow {
	line-height: $mid-line-height;
} 

.inline {
	float: left;
}

.centre {
	text-align: center;
}

/**
 * Below margins
 */

.least-margin {
	margin-bottom: $quarter-spacing-unit;
}

.no-margin {
	margin-bottom: 0;
}

.margin-below-half {
	margin-bottom: $half-spacing-unit;
}

.margin-below {
	margin-bottom: $base-spacing-unit;
}

.margin-above {
	margin-top: $base-spacing-unit;
}

.margin-above-half {
	margin-top: $half-spacing-unit;
}

.padding-below {
	padding-bottom: $base-spacing-unit;
}

.double-margin-above {
	margin-top: 2*($base-spacing-unit);
}
.double-margin-below {
	margin-bottom: 2*($base-spacing-unit);
}

.double-padding-below {
	padding-bottom: 2*($base-spacing-unit);
}

.double-padding-above {
	padding-top: 2*($base-spacing-unit);
}
/**
 * Colours
 */

.red {
	color: $watf-red;
}

.white {
	color: white;
}

.blue {
	color: $watf-blue;
}

.darkest-grey {
	color: darken($watf-grey, 20%);
}

/**
 * Some lines 
 */

.line {	
	border-top: 1px $watf-red solid;
	clear:both;
}

/**
 * Brings the grid in 
 */

.wrapper {
			margin: 0 auto;
			width: 94%;
			float: none;
		}


.pad-in {
		@include gs-pad (wd, padinfull);
	}

	.border-side {
		border-right: 1px solid $watf-grey;
		padding-left: 0;
	}

