.article {
	@include gs-span(wd, 1, 12);
	padding-bottom: $half-spacing-unit;
}


.article-blog {
	@include gs-span(wd, 4, 9);
	padding-bottom: $half-spacing-unit;

	@include respond-to(tablet) { 
      @include gs-span(wt, 2, 11);
     } 

     @include respond-to(mobile) { 
      @include gs-span(wm, all);
     } 

}

.entry-title-blog  {
    color: $watf-blue-grey;
    font-size: $h4-size;
    line-height: 1.3em;
    text-align: center;
}

.entry-content h2  {
    color: $watf-blue-grey;
    font-size: $h5-size;
    line-height: 1.3em;
}

.royalSlider {
	margin-bottom: 2*$base-spacing-unit;
}

.rsDefaultInv, .rsDefaultInv .rsOverflow, .rsDefaultInv .rsSlide, .rsDefaultInv .rsVideoFrameHolder, .rsDefaultInv .rsThumbs {
    background: none repeat scroll 0 0 #ffffff !important;
}