.article {
	@include gs-span(wd, 1, 12);
	padding-bottom: $half-spacing-unit;
}


.article-blog {
	@include gs-span(wd, 4, 9);
	padding-bottom: $half-spacing-unit;
}

.entry-title-blog  {
    color: $watf-blue-grey;
}

.royalSlider {
	margin-bottom: 2*$base-spacing-unit;
}
