.entry-header {
    margin-top: 2*$base-spacing-unit;
}

.entry-title {
    text-align: center;
    color: $watf-blue-grey;
}

.updated {
    float: left;
}

.article-text {
    clear: both;
    @include gs-span(wd, 4, 9, (1, 12));
}

.project-type:before{
            content:" • ";
            padding-left: $quarter-spacing-unit;
        }



.entry-content {
    clear: left;
}




.entry-meta li {

        &:after{
            content:" • ";
            padding-right: $quarter-spacing-unit;
        }

        &:last-child:after{
            display:none;
        }
    }

.blog-posts-title {
    @extend .delta;
    line-height: $lowest-line-height;
}

.next {
    	float:right;
    }


